{
  "presets": ["env", "stage-0"],
  "ignore": [
    "./lib/mui/js/*.js"
  ],
  "plugins": ["transform-runtime",
              ["component", [
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
              ]]]
}